body{
  font-family : "Poppins", sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #eaf7ff);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.title {
  font-weight: 600;
  font-size: 2.5rem;
  color: #2a4b8d;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-box {
  background: white;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: 3.3s ease;
}

.search-input {
  border-radius: 10px !important;
  padding: 10px 14px;
  font-size: 1rem;;
}

.search-btn {
  border-radius: 10px;
}

.region-container{
  background: white;
  padding: 15px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.8);
}

.region-btn {
  border-radius: 12px;
  transition: 0.3s;
}

.region-btn:hover {
  transform: scale (1.05);
  background-color: #2a4b8d !important;
  color: white !important;
}

.country-card{
  border-radius: 16px !important;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.country-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba (0,0,0,0.15);
}


.country-img{
  height: 160px;
  object-fit: cover;
}

.card-title{
  font-weight: 600;
  color:#2a4b8d;
}

p strong{
  color: #1d3557;
}

.loading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2a4b8d;
}

.error{
  font-size: 1.2rem;
  font-weight: 600;
  color: #d90429;
}
